{
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "htmlWhitespaceSensitivity": "css",
    "insertPragma": false,
    "jsxBracketSameLine": true,
    "jsxSingleQuote": true,
    "printWidth": 80,
    "proseWrap": "preserve",
    "quoteProps": "as-needed",
    "requirePragma": false,
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "none",
    "useTabs": false,
    "vueIndentScriptAndStyle": false,
    "prettier-vue/prettier": [
        "warn",
        {
            "semi": false,
            "trailingComma": "all",
            "useTabs": true,
            "tabWidth": 2
        }
    ],
    "vue/max-attributes-per-line": ["warn", {
        "singleline": 1,
        "multiline": {
            "max": 1,
            "allowFirstLine": false
        }
    }],
    "vue/html-indent": ["error", "tab", {
        "baseIndent": 1
    }]
}
