{
    "prettier-vue/prettier": [
        "warn",
        {
            "semi": false,
            "trailingComma": "all",
            "useTabs": true,
            "tabWidth": 2
        }
    ],
    "vue/max-attributes-per-line": "off",
    "vue/html-indent": ["error", "tab", {
        "baseIndent": 1
    }]
}
